<div class="grid grid-cols-4 gap-6 xl:grid-cols-12">
  <!-- Botón 1: Nueva Propiedad -->
  <button
    class="col-span-2 p-4 shadow-md transition-all card hover:shadow-lg hover:scale-105"
  >
    <div class="flex flex-col-reverse justify-between items-center mb-4">
      <div>
        <span
          class="block mb-1 font-medium text-surface-900 dark:text-surface-0"
        >
          Nueva Propiedad
        </span>
      </div>
      <div
        class="flex justify-center items-center bg-gray-100 rounded-lg dark:bg-gray-700"
        style="width: 2.5rem; height: 2.5rem"
      >
        <i class="text-xl text-blue-500 dark:text-blue-300 pi pi-home"></i>
      </div>
    </div>
  </button>

  <!-- Botón 2: Nuevo Cliente -->
  <button
    class="col-span-2 p-4 shadow-md transition-all card hover:shadow-lg hover:scale-105"
  >
    <div class="flex flex-col-reverse justify-between items-center mb-4">
      <div>
        <span
          class="block mb-1 font-medium text-surface-900 dark:text-surface-0"
          >Nuevo Cliente</span
        >
      </div>
      <div
        class="flex justify-center items-center bg-green-100 rounded-border dark:bg-green-400/10"
        style="width: 2.5rem; height: 2.5rem"
      >
        <i
          class="text-xl text-green-500 dark:text-green-300 pi pi-user-plus"
        ></i>
      </div>
    </div>
  </button>

  <!-- Botón 3: Agendar Cita -->
  <button
    class="col-span-2 p-4 shadow-md transition-all card hover:shadow-lg hover:scale-105"
  >
    <div class="flex flex-col-reverse justify-between items-center mb-4">
      <div>
        <span
          class="block mb-1 font-medium text-surface-900 dark:text-surface-0"
          >Agendar Cita</span
        >
      </div>
      <div
        class="flex justify-center items-center bg-yellow-100 rounded-border dark:bg-yellow-400/10"
        style="width: 2.5rem; height: 2.5rem"
      >
        <i
          class="text-xl text-yellow-500 dark:text-yellow-300 pi pi-calendar"
        ></i>
      </div>
    </div>
  </button>

  <!-- Botón 4: Registrar Pago -->
  <p-button
    (onClick)="openNew()"
    class="col-span-2 p-4 shadow-md transition-all card hover:shadow-lg hover:scale-105"
  >
    <div class="flex flex-col-reverse justify-between items-center mb-4">
      <div>
        <span
          class="block mb-1 font-medium text-surface-900 dark:text-surface-0"
          >Registrar Pago</span
        >
      </div>
      <div
        class="flex justify-center items-center bg-purple-100 rounded-border dark:bg-purple-400/10"
        style="width: 2.5rem; height: 2.5rem"
      >
        <i
          class="text-xl text-purple-500 dark:text-purple-300 pi pi-dollar"
        ></i>
      </div>
    </div>
  </p-button>

  <!-- Botón 5: Reportes -->
  <button
    class="col-span-2 p-4 shadow-md transition-all card hover:shadow-lg hover:scale-105"
  >
    <div class="flex flex-col-reverse justify-between items-center mb-4">
      <div>
        <span
          class="block mb-1 font-medium text-surface-900 dark:text-surface-0"
          >Reportes</span
        >
      </div>
      <div
        class="flex justify-center items-center bg-red-100 rounded-border dark:bg-red-400/10"
        style="width: 2.5rem; height: 2.5rem"
      >
        <i class="text-xl text-red-500 dark:text-red-300 pi pi-chart-bar"></i>
      </div>
    </div>
  </button>

  <!-- Botón 6: Configuración -->
  <button
    class="col-span-2 p-4 shadow-md transition-all card hover:shadow-lg hover:scale-105"
  >
    <div class="flex flex-col-reverse justify-between items-center mb-4">
      <div>
        <span
          class="block mb-1 font-medium text-surface-900 dark:text-surface-0"
          >Configuración</span
        >
      </div>
      <div
        class="flex justify-center items-center bg-gray-100 rounded-border dark:bg-gray-700"
        style="width: 2.5rem; height: 2.5rem"
      >
        <i class="text-xl text-gray-500 dark:text-gray-300 pi pi-cog"></i>
      </div>
    </div>
  </button>

  <p-dialog
    [(visible)]="reciboDialog"
    [style]="{ width: '450px' }"
    header="Propiedades"
    [modal]="true"
  >
    <ng-template #content>
      <div class="flex flex-col gap-6">
        <div>
          <label for="clienteNumero" class="block mb-3 font-bold"
            >Nº Cliente:</label
          >
          <input
            type="text"
            pInputText
            id="clienteNumero"
            [(ngModel)]="clienteNumero"
            required
            autofocus
            fluid
          />
        </div>

        <div>
          <label for="mes" class="block mb-3 font-bold">Mes:</label>
          <input
            type="text"
            pInputText
            id="mes"
            [(ngModel)]="mes"
            required
            fluid
          />
        </div>
        <div>
          <label for="adicionales" class="block mb-3 font-bold"
            >Adicionales:</label
          >
          <p-select
            id="adicionales"
            [options]="adicionalesOptions"
            [(ngModel)]="adicionalesSeleccionados"
            placeholder="Seleccione adicionales"
            fluid
          ></p-select>
        </div>

        <div>
          <label for="monto" class="block mb-3 font-bold">Monto:</label>
          <input
            type="number"
            pInputText
            id="monto"
            [(ngModel)]="monto"
            required
            fluid
          />
        </div>
      </div>
    </ng-template>

    <ng-template #footer>
      <p-button label="Cancelar" icon="pi pi-times" text />
      <p-button
        label="Generar PDF"
        icon="pi pi-check"
        (click)="onGeneratePDF()"
      />
    </ng-template>
  </p-dialog>
</div>
